
<ul class="nav navbar-nav navbar-right">
  <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
          <i class="fas fa-shopping-basket cesta"></i>
        <span class="items"></span>
        <span class="total_cesta">{{totalCarrito()}} €</span>
      </a>

      <ul class="dropdown-menu dropdown-carrito" role="menu">
        <li *ngFor="let producto of productosCarro">
              <span class="item">
                  <span class="item-left">
                      <img src="{{producto.foto}}" alt="" />
                      <span class="item-info">
                          <span class="precio" *ngIf="producto.precioOferta">{{producto.oferta*producto.cantidad}} €</span>
                          <span class="precio" *ngIf="!producto.precioOferta">{{producto.precio*producto.cantidad}} €</span>
                          <span class="nombre_pro_carrito">{{producto.nombre}}</span>
                          <span class="descrip_pro_carrito">{{producto.descripcion}}</span>   
                      </span>
                  </span>
                  <span class="item-right">
                      <div class="btn_cantidad_contendor">
                          <div class="btn-cantidad-carrito" role="group">
                              <button type="button" class="btn btn-default btn1" (click)="menosCantidad(producto)">-</button>
                              <input type="text" class="btn btn-default cantidad" value="{{producto.cantidad}}" readonly>
                              <button type="button" class="btn btn-default btn2" (click)="masCantidad(producto)">+</button>
                          </div>
                      </div>
                      <button class="btn btn-xs" (click)="eliminarProductoCarro(producto.id)"><i class="far fa-trash-alt"></i></button>
                  </span>
              </span>
        </li>
        <li class="divider"></li>
        <li class="text-center">TOTAL {{totalCarrito()}} €</li>
      </ul>
  </li>
</ul>


